.form {
  position: absolute;
  width: 410px;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background: #24272E;
  box-shadow: 0px 0px 20px #BDC3D1;
  border-radius: 20px; }

.signup-button {
  background: 0;
  color: #919396;
  font-size: 24px;
  top: 100%;
  left: 50%;
  transform: translate(50%, 100%); }

.signin-button {
  background: 0;
  color: #919396;
  font-size: 24px;
  top: 100%;
  left: 50%;
  transform: translate(150%, 100%); }

button:focus {
  color: #FFFFFF;
  text-decoration: underline; }
