<div  class="gallery-container">
    <cdk-virtual-scroll-viewport (scroll)="isScroll = true" itemSize="36" class="scroll-container">
        <mat-grid-list cols="7" rowHeight="145px">
                <mat-grid-tile *cdkVirtualFor="let card of cards">
                <img [src]="'images/cards/' + card.card_path"
                class="gallery-card">
            </mat-grid-tile>
        </mat-grid-list>
    </cdk-virtual-scroll-viewport>
    <p *ngIf="!isScroll" class="scroll-message">Scroll to see more</p>
</div>