/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #131519;
    background-image: url('./assets/img/start_frame_bg.png');
    background-size: cover;
}
.tooltip {
    background-color: rgba(26, 38, 54, 0.7);
}