.user-controller__modal .mat-dialog-container  {
    background: rgba(26, 38, 54, 0.7);
    border-radius: 15px;
    max-width: 1325px;
    max-height: 725px;
    width: 1325px;
    height: 725px;
    position: relative;
}