<h2>Upload Card</h2>
<div class="cropp-wrapper">

    <input type="file" (change)="fileChangeEvent($event)" placeholder="Choose an image"/>
    <br />

    <div class="cropp-inner" *ngIf="cropperView">

        <button (click)="resetImage()">Reset image</button>
        <br />
        <button (click)="zoomOut()">Zoom -</button> <button (click)="zoomIn()">Zoom +</button>

        <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio"
                [aspectRatio]="51 / 70"
                [resizeToWidth]="102"
                [resizeToHeight]="140"
                [cropperMinWidth]="102"
                [cropperMinHeight]="140"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                [imageQuality]="100"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                [alignImage]="'left'"
                [style.display]="showCropper ? null : 'none'"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

        <img #result [src]="croppedImage" [width]="181.8" [height]="252"/>


        <button type="button" (click)="test()">test</button>

        <p *ngIf="imageError">Please choose an image with next sizes: width - 102px, height - 140px!</p>

        <p *ngIf="imageConfirmed">Картинка была отправлена</p>

    </div>


</div>
