.Word{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}