.lobby-wrapper {
  display: block;
  width: calc(100% - 100px);
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(2, 1, 6, 0.5);
  margin: 20px auto;
}

.lobby__table {
  padding-right: 165px;
}

.lobby__table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  &.head {
    padding-bottom: 12px;
    .lobby__table-cell {
      background-color: transparent;
    }
    .lobby__table-text {
      color: #fff;
      text-transform: uppercase;
    }
  }
}

.lobby__table-cell {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #BDC3D1;
  padding: 8px 0;
  margin-right: 3px;
  align-items: center;
  &.creator {
    width: calc(25% - 3px);
  }
  &.room-name {
    width: calc(25% - 3px);
  }
  &.access {
    width: calc(10% - 3px);
  }
  &.players {
    width: calc(20% - 3px);
  }
  &.btn {
    width: 20%;
    background-color: transparent;
    padding: 0;
    margin-right: 0;
  }
  &:first-child {
    border-radius: 12px 0 0 12px;
  }
}

.lobby__table-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.lobby__table-btn {
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid #fff;
  font-size: 30px;
  border-radius: 0 12px 12px 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 6px 40px;
  &:hover {
    cursor: pointer;
  }
}

.lobby__filter {
  margin-top: 20px;
}

.lobby__filter-input {
  padding:  0 15px 0 30px;
  font-size: 24px;
  line-height: 36px;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  &::placeholder {
    color: #A0A1A3;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}
