.ModelWindow {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 20px solid #f7f7f7;
  position: relative;
  top: -50px;
  margin: auto;
  ::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #f7f7f7;
  }
}