.banned-screen__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-family: Roboto;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p {
        font-family: Roboto;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }
}