.play-button {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  position: fixed;
  width: 340px;
  height: 100px;
  left: 275px;
  top: 356px;
  background: linear-gradient(90deg, $dixitPink 0%, $dixitPurple 100%);
  box-shadow: 0px 0px 30px $dixitGlow;
  border-radius: 50px;
}
