//======= Colors ========

$dixitPink: #F27A54;
$dixitPurple: #A154F2;
$dixitBlue: #7192E3;
$dixitYellow: #D7D17D;
$dixitGlow: #EC7760;
$dixitBackground: #111519;
$dixitWhite: #FFFFFF;

//======= Fonts ========

$mainFont: 'Montserrat Alternates', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

