html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration-line: none;
  color: inherit; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  font: inherit; }
  button:focus {
    outline: none; }

.play-button {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  width: 340px;
  height: 100px;
  left: 275px;
  top: 356px;
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
  box-shadow: 0px 0px 30px #EC7760;
  border-radius: 50px; }

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* montserrat-alternates-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Alternates Regular"), local("MontserratAlternates-Regular"), url("../fonts/montserrat-alternates-v11-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-alternates-v11-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* montserrat-alternates-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Alternates Bold"), local("MontserratAlternates-Bold"), url("../fonts/montserrat-alternates-v11-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-alternates-v11-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  overflow-x: hidden;
  background-image: url("../images/start_frame_bg.png"); }

body.overlay {
  position: fixed;
  width: 100%; }
  body.overlay:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20; }
