<<<<<<< HEAD
.UpBar{
    position: fixed;
    justify-content: center;
    left: 26.5%;
    top: 10px;
=======
.Wordclass{
    justify-content: center;
    align-items: center;
    margin: auto;
>>>>>>> b62fca35a0fdddb865d059f2aab84b54219b4c00
}