.field-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vw;
    margin: auto;
}

.game-logo {
  padding: 18px 50px;
  display: block;
}