@font-face {
    font-family: "Core Sans";
    src: url("./CoreSansD55Bold.ttf") format("ttf");
    src: url("./CoreSansD55Bold.woff") format("woff");
    src: url("./CoreSansD55Bold.woff2") format("woff2");
}

.App {
    margin: 30px auto;
    max-width: 320px;
    padding: 2em;
    border: 1px solid silver;
    border-radius: 1em;

    text-align: center;
}
