.user-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.user-settings__avatar {
    margin: 0;
    flex-grow: 1;
    padding: 0px 33px 0px 0px;
}
.user-settings__avatar img {
    width: 198px;
    height: 198px;
    border-radius: 15px;
}
.user-settings__figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    fa-icon {
        color: #A8A3A9;
    }
    p{
        color: #FFFFFF;
    }
    span, p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
    }
    span {
        color: #919396;
    }
}
.user-settings__form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-settings__input {
    background: #FFFFFF;
    border-radius: 20px;
    outline: none;
    padding: 0 15px;
    font-family: Roboto;
    font-style: normal;
    height: 50px;
    width: 424px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
}
.user-settings__title-buttons {
    display: flex;
    justify-content: space-between;
}
.user-settings__form-group label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 2px;
}
.user-settings button {
    border-radius: 12px;
    font-size: 24px;
    line-height: 28px;
    height: 47px;
    padding: 7px 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.user-settings__unban-button {
    background-color: #00A86B;
    color: #FFFFFF;
    border: none;
}
.user-settings__ban-button {
    width: 95px;
    height: 47px;
    background: #C32424;
    color: #FFFFFF;
    border: none;
}
.user-settings__cancel {
    border: 3px solid #FBFBFB;
    box-sizing: border-box;
    background: rgba(26, 38, 54, 0.7);
    color: #FFFFFF;
}
.user-settings__update-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
}
.user-settings__section {
    display: flex;
    flex-direction: column;
}
.user-settings__ban-reason {
    border-radius: 12px;
    outline: none;
    resize: none;
    padding: 0px 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    width: 444px;
    margin-bottom: 21px;
}
.user-settings__submit {
    button{
        margin-right: 20px;
    }
}