.submit-button {
  font-family: Montserrat Alternates;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: white;
  width: 100px;
  height: 20px;
  background: linear-gradient(90deg, #F27A54 0%, #A154F2 100%);
  border-radius: 50px;
  transition: border, box-shadow .3s;
  z-index: 5;

  &:hover {
    box-shadow: 0px 0px 30px #EC7760;
  }
}