h1 {
  color: #E5E5E5;
}

.AuthorizationForm-ForgotPassword {
  margin: 15px 0;
}

.AuthorizationForm-ForgotPassword {
  margin: 15px 0;
  color: #919396;
  font-family: Roboto, sans-serif;
}

.AuthorizationForm-ButtonContainer {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.AuthorizationForm-Error {
  color: #f44336;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  min-height: 15px;
}