.game-logo {
  padding: 18px 50px;
  display: block;
}

.game-root {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 5% 15% 40% 40%;
  grid-template-areas: "header sidepanel"
                        "word sidepanel"
                        "desc sidepanel"
                        "hand sidepanel";
}

.game-side-panel {
  grid-area: sidepanel;
  margin-top: 30px;
}

header {
  grid-area: header;
}

.field-hand {
  grid-area: hand;
}

.field-box {
  grid-area: desc;
}

.Wordclass {
  grid-area: word;
}